@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes blinkCursor {
  0%,
  45% {
    opacity: 1;
  }

  46%,
  100% {
    opacity: 0;
  }
}

@keyframes storyScrollLine {
  0% {
    top: -60%;
  }

  100% {
    top: 120%;
  }
}

@keyframes brainsScrollLine {
  0% {
    top: -60%;
  }

  100% {
    top: 120%;
  }
}